/* Google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #D9A404;
  --secondary-color: #BFBAA8;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'Poppins', sans-serif;
  font-size: .89rem;
  line-height: 1.6;
  background-color: var(--secondary-color);
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.section{
  padding: 1rem;
}

.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100%-2rem);
  margin: 0 1rem;
}

textarea {
  resize: none;
}

/* ======================================== Base ======================================== */

header{
  background-color: var(--primary-color);
}

nav{
  background-color: var(--primary-color);
}

.navbar-nav .active a {
  color: #fff;
  font-weight: bold;
}


main {
  padding: 1rem 0;
  width: 100%;
  min-height: calc(100vh - 70px);
}

.flash-container {
  padding: 1rem 0;
  margin-top: 70px;
  position: relative;
}

/* ======================================== Index ======================================== */


/* Carousel */


#index_carousel img{
  max-height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 5%;
}


/* ======================================== Recipes.html ======================================== */

.recipe-container {
  background-color: #f0f0f0;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.recipe-card {
  max-width: 340px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card-header {
  background-color: #f0f0f0;
}

.card-header button {
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.card-header button:focus {
  outline: none;
}

/* ======================================= Contact ======================================== */

.contact_img{
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 5%;
  margin: 0 auto;
}


/* ======================================== Footer ======================================== */

.footer{
  background-color: var(--primary-color);
  color: black;
  text-align: center;
}

.footer_title{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer_description{
  margin-bottom: .7rem;
}

.footer_social{
  margin-bottom: 1rem;
}

.footer_social a i{
  margin: 0 auto;
}

.facebook, .twitter, .github, .linkedin{
  display: inline-flex;
  background-color: var(--secondary-color);
  color: black;
  width: 3rem;
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .4rem;
  margin: 0 .5rem;
  transition: .3s;
}

.facebook:hover{
  background-color: #3b5998;
  color: white;
}

.github:hover, .twitter:hover{
  background-color: black;
  color: white;
}

.linkedin:hover{
  background-color: #0e76a8;
  color: white;
}

.footer_copy{
  font-size: .813rem;
  color: black;
}



/* ============================================================================ Tablets ============================================================================ */

@media(min-width:768px){
  


/* ======================================== Footer ======================================== */

  .footer_container{
    padding: 1rem 0;
    border-radius: .5rem;
  }
}

/* ============================================================================ Desktop ============================================================================ */

@media(min-width:1024px){

  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}