{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2 class="mb-5 text-center fs-1 fw-bolder" >{{ title }}</h2>

  <form method="POST" action="{{ url_for('contact') }}">
    <div class="form-group mb-3">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" required placeholder="Your name here">
    </div>
    <div class="form-group mb-3">
      <label for="email">Email Address:</label>
      <input type="email" class="form-control" id="email" name="email" required placeholder="example@example.com">
    </div>
    <div class="form-group mb-3">
      <label for="comment">Comment:</label>
      <textarea class="form-control" id="comment" name="comment" rows="4" required placeholder="Your comment here"></textarea>
    </div>
    <div class="container col-3 mx-auto">
      <button type="submit" class="btn mb-4 mt-3 btn-primary ">Contact</button>
    </div>
  </form>
  <div class="container mt-2">
    <h3 class="text-center fs-2 fw-bold mb-3">Keep in Contact</h3>
    <p>Get in touch with us, leave us a message about any suggestions to improve our site or tell us what you think.</p>
    <p>We will contact you as soon as possible, our first goal is that the website belongs to everyone and for everyone.</p>
    <p>Thank you very much for your contribution.</p>
  </div>
</div>
{% endblock %}