{% extends "base.html" %}

{% block content %}
<div class="container">
  <!-- Contact Form Heading and Image -->
  <h2><img class="contact_img" src="{{ url_for('static', filename='img/contact.webp') }}" alt=""></h2>

  <!-- Contact Form -->
  <form class="contact_form" method="POST" action="{{ url_for('contact') }}">
    <!-- Name Field -->
    <div class="form-group mb-3">
      <label class="fw-semibold" for="name">Name:</label>
      <input type="text" class="form-control border-1 border-black" id="name" name="name" required placeholder="Your name here">
    </div>
    <!-- Email Field -->
    <div class="form-group mb-3">
      <label class="fw-semibold" for="email">Email Address:</label>
      <input type="email" class="form-control border-1 border-black" id="email" name="email" required placeholder="example@example.com">
    </div>
    <!-- Comment/Message Field -->
    <div class="form-group mb-3">
      <label class="fw-semibold" for="comment">Comment:</label>
      <textarea class="form-control border-1 border-black" id="comment" name="comment" rows="4" required placeholder="Your comment here"></textarea>
    </div>
    <!-- Contact Button -->
    <div class="container col-3 mx-auto">
      <button type="submit" class="btn mb-4 mt-3 btn-primary">Contact</button>
    </div>
  </form>

  <!-- Contact Information -->
  <div class="container mt-2">
    <!-- Contact Information Heading -->
    <h3 class="text-center fs-2 fw-bold mb-3">Keep in Contact</h3>
    <!-- Contact Information Description -->
    <p class="text-center">Get in touch with us, leave us a message about any suggestions to improve our site or tell us what you think.</p>
    <p class="text-center">We will answer you as soon as possible.</p>
    <p class="text-center">Thank you very much for your contribution.</p>
  </div>
</div>
{% endblock %}
